<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="keyVaultConfig" type="WhiteStrike.KeyVaultConfiguration.KeyVaultConfigurationSection, WhiteStrike.KeyVaultConfiguration" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  <keyVaultConfig>
    <vaults>
      <vaultConfig name="TestVault" vaultUrl="https://[yourvault].vault.azure.net" authenticationUrl="https://login.microsoftonline.com/[yourtenantidguid]/login" identity="[identityguidforappuser]" credential="[certthumbprint]" credentialType="Certificate" secretPrefix="Test" />
      <vaultConfig name="TestVault2" vaultUrl="https://[yoursecondvault].vault.azure.net" authenticationUrl="https://login.microsoftonline.com/[yourtenantidguid]/login" identity="[identityguidforappuser]" credential="[clientsecret]" credentialType="Secret" secretPrefix="Test" />
      <vaultConfig name="StaticValueTestVault" vaultUrl="https://whitestrike.vault.azure.com" authenticationUrl="https://login.microsoftonline.com/orbital/login" identity="f8651091-96c8-4819-af0d-5ac55f1b5666" credential="AD0F54B8CE90F8D1FD3146D299459791AFC99B91" credentialType="Certificate" secretPrefix="Test" />
    </vaults>
  </keyVaultConfig>
  <appSettings>
    <add key="Test" value="${KV::TestVault::Hello}" />
    <add key="TestString2" value="${KV::TestVault2::ThisString}" />
    <add key="SecondString" value="${KV::TestVault::SecondString}" />
  </appSettings>
  <connectionStrings>
    <add name="testConnection" providerName="Microsoft.Sql.Server" connectionString="${KV::TestVault::ConnectionString}" />
  </connectionStrings>
</configuration>